.cm-popup {
  position: relative;
  display: inline-block;
/*   cursor: pointer; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.cm-popup .cm-popup-text {
  width: fit-content;
  background-color: var(--chakra-colors-gray-700);
  color: #000;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: calc(-81.578px - 12px);
  padding: 20px;
  transform: scale(0);
  transform-origin: center bottom;
  transition: transform 0.3s ease-in-out;
}

/* Popup arrow */
.cm-popup .cm-popup-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - 5.2px);
  border-width: 5px;
  border-style: solid;
  border-color: var(--chakra-colors-gray-700) transparent transparent transparent;
  pointer-events: none;
}

.cm-popup .show {
  transform: scale(1);
}

.cm-popup-opener {
  border: 1px solid black;
  border-radius: 1em;
  width:0.75em;
  height:0.75em;
  pointer-events: all;
}

.cm-popup-button-grid {
  display: grid;
  width: fit-content;
  row-gap: 0.6em;
  column-gap: 1.1em;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(5,1fr);
}

.cm-popup-btn {
  width: 0.65em;
  height: 1.15em;
  cursor: crosshair;
  border-style: none;
  border-width: 2px;
  border-radius: 2px;
  place-self: center;
  transition: background-color 0.1s, box-shadow 0.1s;
}

.cm-popup-controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between
}

.cm-popup-submit {
  background-color: var(--chakra-colors-gray-10);
  color: black;
  width: 5em;
  border-radius: 6px;
  font-family: "Helvetica";
  font-weight: 600;
}

.cm-popup-level {
  font-family: "Helvetica";
  color: black;
  background-color: var(--chakra-colors-gray-10);
  padding-inline: 5px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

/*.cm-popup-level option {
  background-color: #000000c0;
}*/

.cm-popup-spacer {
  width: 0.25em;
}

.cm-popup-btn-0 {
  background-color: #202020;
  color: #202020;
  box-shadow: none;
}

.cm-popup-btn-1 {
  color: #392424;
  background-color: #392B2A;
  box-shadow: 0px 0px 5px 0px currentColor;
}

.cm-popup-btn-2 {
  color: #522929;
  background-color: #523535;
  box-shadow: 0px 0px 5px 0px currentColor;
}

.cm-popup-btn-3 {
  color: #6A2D2D;
  background-color: #6A403F;
  box-shadow: 0px 0px 5px 1px currentColor;

}

.cm-popup-btn-4 {
  color: #833131;
  background-color: #834A4A;
  box-shadow: 0px 0px 5px 1px currentColor;
}

.cm-popup-btn-5 {
  color: #9C3636;
  background-color: #9C5554;
  box-shadow: 0px 0px 5px 2px currentColor;
}

.cm-popup-btn-6 {
  color: #B53A3A;
  background-color: #B55F5F;
  box-shadow: 0px 0px 5px 2px currentColor;
}

.cm-popup-btn-7 {
  color: #CD3E3E;
  background-color: #CD6A69;
  box-shadow: 0px 0px 5px 3px currentColor;
}

.cm-popup-btn-8 {
  color: #E64343;
  background-color: #E67474;
  box-shadow: 0px 0px 5px 3px currentColor;
}

.cm-popup-btn-9 {
  color: #ff4747;
  background-color: #ff7f7e;
  box-shadow: 0px 0px 5px 4px currentColor;
}

